/* .Navbar{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
*/
.innerBar{
    background-color: #103A3980;
    
} 
.navlinks{
    color:#C8D6D5;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
import photo1 from "../Assets/photo1.jpg"
import photo2 from "../Assets/photo2.jpg"
import photo3 from "../Assets/photo3.jpg"
import photo4 from "../Assets/photo4.jpg" */